node_modules/
src/
.git/
.github/
.idea/
.vscode/
.husky/
.deploy/
.data/
logs/
docs/
.env*
.eslintrc.json
.prettierrc.json
.prettierignore
.dockerignore
.cursorrules
nodemon.json
docker-compose.yml
Dockerfile
tsconfig.json
eslint.config.js
pnpm-lock.yaml
DEVELOPMENT.md